<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Modify Rules</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">

    <h1>Current Rules</h1>

{% for x in obj %}

        {% if x.sequence_number > 0%}
     <div class="well">
         <strong>{{x.sequence_number}}</strong>
        {{x.insta_profile_follow}}{{x.insta_post}}{{x.insta_comment}}{{x.facebook_profile_like}}
                  {{x.facebook_post_like}}{{x.facebook_post_comment}}{{x.facebook_post_share}}{{x.twitter_profile_follow}}
                  {{x.tweet_like}}{{x.tweet_comment}}{{x.retweet}}{{x.youtube_subscibe}}{{x.youtube_comment}}
                  {{x.youtube_like}}{{x.youtube_share}}{{x.go_to_this_link}}
 </div>
        {% endif %}

    {% endfor %}

<hr/>

    <h1>Add New Rule</h1>
      <button class="btn btn-danger"  type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          Add
  </button>


<div class="collapse" id="collapseExample">
<div class="card card-body">
<div class="well">
<form action="." method="POST">
<div class="form-group">
{% csrf_token %}
{{form.as_p}}
<input type="submit" class="btn btn-success">
</div>
</form>
</div>
</div>
</div>

</div>
</body>
</html>



