<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Youtube Comment Winner - Frequency</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<a href="/cleanmydb" class="btn btn-danger" >Clean All Comments</a>
    <hr/>
    <h1> Comments Based On Frequency</h1>
    {% for x in okay %}
    <div class="well">
        <a href="{{x.url}}"><h3>{{x.name}}</h3></a>
        <p>{{x.comment}}</p>
        <p>Total Comments :: {{x.count}}</p>
    </div>
    {% endfor %}
</div>
</body>
</html>