<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body style="margin-top:50px;margin-bottom:50px;">

<div class="container">
{% if request.user.is_authenticated %}
        <div class="nav navbar-nav navbar-right">


            <a href="/accounts/logout/" class="btn btn-danger">Logout</a>

        </div>

    <div class="nav navbar-nav navbar-left">

            <a href="/" class="btn btn-success">Home</a>
            <a href="/cr-admin" class="btn btn-success">Admin Panel</a>

        </div>
{% endif %}

</div>
<div class="container">


{% if 'yt' in name %}

    <h1 style="margin-top:25px;margin-bottom:25px">Creative Pavan ~ Youtube Giveaway !</h1>
<div class="container">
    <h4>Selected Videos</h4>
{% for x in obj %}
        {% if x.sequence_number > 0%}
    <div class="well">
        <strong>{{x.youtube_comment}}</strong><br>


    </div>
     {% endif%}
{% endfor %}




        <a href="{% url 'ytcommentwinner' giveaway_id %}"  class="btn btn-danger">Declare Winner - Comments</a>
        <a href="{% url 'youtubecommentfrequency' giveaway_id %}" class="btn btn-danger" >Declare Winner - Frequency </a>


     {% endif%}
</div>
</div>


</body>
</html>