<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body style="margin-top:50px;margin-bottom:50px;">

<div class="container">
{% if request.user.is_authenticated %}
        <div class="nav navbar-nav navbar-right">


            <a href="/accounts/logout/" class="btn btn-danger">Logout</a>

        </div>

    <div class="nav navbar-nav navbar-left">

            <a href="/" class="btn btn-success">Home</a>
            <a href="/cr-admin" class="btn btn-success">Admin Panel</a>

        </div>
{% endif %}

</div>
<div class="container">

<h1>Winners !!!</h1>
    {% for x,y,z in win_zip %}
    {% if 'Creative Pavan' not in x %}
<div class="well">

    <h4>Name :: <a href="{{y}}">{{x}}</a></h4>
    <h5>Comment :: {{z}}</h5>
</div>
    {% endif %}
{% endfor%}



    </div>
<hr/>
<div class="container">

{% for i,a,b,c in random_list %}

<div class="well">
    <h3>{{i}}</h3>
    <h4>Name :: <a href="{{b}}">{{a}}</a></h4>
    <h5>Comment :: {{c}}</h5>
</div>

{% endfor %}
</div>
</body>
</html>