<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Winner</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body style="margin-top:50px;margin-bottom:50px;">

<div class="container">
{% if request.user.is_authenticated %}
        <div class="nav navbar-nav navbar-right">


            <a href="/accounts/logout/" class="btn btn-danger">Logout</a>

        </div>

    <div class="nav navbar-nav navbar-left">
            <a href="/" class="btn btn-success">Home</a>
            <a href="/cr-admin" class="btn btn-success">Admin Panel</a>
            <a href="#comments" class="btn btn-danger">All Comments</a>
            <a href="#winner" class="btn btn-danger">Winners</a>

        </div>
{% endif %}

</div>

<hr/>
<a name="winner"></a>
<div class="container">
{% for i,a,b,c in random_list %}
<ul>

    {% if 'Creative Pavan' not in a %}


        <h4><strong>Name : </strong><a href="{{b}}">{{a}}   <span class="label label-success">Winner</span></a></h4>

        <div class="alert alert-info" role="alert">
  <h5><strong>Comment : </strong>{{c}}</h5>
        </div>



{% endif %}
    {% endfor %}
</ul>
</div>
<div class="container">
<a name="comments"></a>
<h1>All Comments !!!</h1>
    {% for x,y,z in win_zip %}
    {% if 'Creative Pavan' not in x %}
<div class="well">

    <h4>Name :: <a href="{{y}}">{{x}}</a></h4>
    <h5>Comment :: {{z}}</h5>
</div>
    {% endif %}
{% endfor%}



    </div>
</body>
</html>